h1 {
  text-align: center;
  margin: 40px auto 80px auto;
}
.comment-wrapper {
  margin-bottom: 20px;
  border: 1px solid gray;
  border-radius: 5px;
}

.navbar-right button {
  margin: 8px 15px;
}

.admin-btn {
  margin-left: 5px;
}

table td {
  vertical-align: middle;
}

.buttons-td {
  text-align: right;
}

.loader-div {
  text-align: center;
}

.loader {
  width: 300px;
  margin-top: 100px;
  border-radius: 50%;
}

#articleArea {
  text-decoration: none;
  color: black;
}

.admin-landingPage-buttons {
  font-size: 30px;
  height: 60px;
}

.title-td {
  vertical-align: middle;
}

#image_preview{
  text-align:center;
}

#previewing{
  border-radius: 5px;
  max-height: 300px;
  text-align: center;
}

.progress-bar {
  width: 0;
}

#submit {
  margin-top: 30px;
  font-size: 2em;
}

.article-image,
.article-snippet img {
  display: block;
  margin: 30px auto;
  max-width: 100%;
}

.article-snippet {
  margin-bottom: 30px;
  padding: 30px;
  border: 1px solid #337AB7;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
}

.link-to-article:hover {
  text-decoration: none;
  color: #337ab7;
}
