<IfModule mod_rewrite.c>
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ index.php?url=$1 [PT,L]

</IfModule>






#RewriteEngine on
#
#RewriteCond $1 !^(index.php|public) //sare peste index.php
#RewriteRule ^(.*)$ index.php/$1 [L]